@model bool
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 4 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-10 my-auto">
                <div class="neuro-field">
                    <form>
                        <div class="neuro-field__list-neurons">
                            <ul class="row list-group list-group-horizontal justify-content-center neuro-list">
                            </ul>
                        </div>
                        <div class="row center-screen">
                            <div class="col-12 col-md-3">
                                <table class="mx-auto input-picture">
                                </table>
                            </div>
                            <div class="col-12 col-md-3 player-neuron justify-content-center">
                                <div class="circle"><p class="main-value">0</p></div>
                            </div>
                            <div class="col-12 col-md-3 answer-col">
                                <b>The neural network determined that this is number:<br /></b>
                                <b class="answer"></b>
                            </div>
                        </div>
                        <div class="neuro-field__list-neurons output">
                            <ul class="row list-group list-group-horizontal justify-content-center">
                                @for (int i = 0; i < 10; i++)
                                {

                                    <li class="col-1 neuro-field__list-neurons__input-neuron">
                                        <div class="circle">
                                            <div class="outputUpWeight"></div>
                                            <div class="outputDownWeight"></div>
                                            <p class="output-neuron-value">0</p>
                                        </div>
                                        <p class="weight-text">weight: <input class="weight o" type="number" name="[@i]" min="-1" max="1" step="0.1" value="0" /></p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-2 menu-column">
                <div class="menu h-100">
                    <div class="roomName">
                        <p class="roomNameText"></p>
                        <div class="btn btn-success re-login">Re-Login</div>
                    </div>
                    <div class="participants">
                        
                    </div>

                    <div class="align-self-end">
                        <button class="btn btn-success" id="sendButton">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/InputHandler.js"></script>
    <script src="~/js/signalRConnection.js"></script>

    @if (@Model)
    {
        <script>WSConnect()</script>
    }
    else
    {
        @await Component.InvokeAsync("SetName");
    }
</body>
</html>

